*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #0F172A;
    color: #fff;
    line-height: 1.6;
}
.contenido{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;  /*100% del alto del dispositivo */
    width: 100%;
    padding: 20px;
    background: linear-gradient(135deg, #1e293b 0%, #37559c 100%);
}
.portada{
    background: rgba(255,255,255, 0.05);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255,255,255,0.1);
    padding: 40px 20px;
    border-radius: 24px;
    text-align: center;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 25px 50px -12px rgba(0,0,0,0.5);
    animation: fadeIn 1.5s ease-out; /* trabaja con @keyframes */ 
}
@keyframes fadeIn {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
}
/* Imagen de Perfil */
.portada img{
    width: 130px;
    height: 130px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #38bdf8;
    margin-bottom: 20px;
    box-shadow: 0 0 20px rgba(56,189,248,0.3);
}
h1{
    font-size: 1.8rem;
    font-weight: 700;
    letter-spacing: -0.025em;
    margin-bottom: 5px;
    color: #38bdf8;
}
p{
    font-size: 1rem;
    color: #94a3b8;
    margin-bottom: 20px;
    font-weight: 500;
}
hr{
    border: 0;
    height: 1px;
    background: linear-gradient(to right, transparent, #334155, transparent);
    margin-bottom: 25px;
}
.btn-link{
    display: block;
    background-color: #334155;
    color: #fff;
    text-decoration: none;
    padding: 16px;
    margin: 12px 0;
    border-radius: 12px;
    font-weight: 600;
    font-size: 1rem;
    transition: all 0.3s cubic-bezier(0.4,0,0.2,1);
    border: 1px solid rgba(255,255,255,0.1)
}
.btn-link:active{
    transform: scale(0.95);
    background-color: #38bdf8;
    color: #0f172a;
}

/* Ajustar para pantallas en horizontal */
@media (max-height: 500px){
    .contenido{
        padding: 40px 20px;
        min-height: auto;
    }
}

/* Estilos SECCIONES NUEVAS */
section{
    padding: 40px 20px;
    max-width: 450px;
    margin: 0  auto;
}
h2{
    font-size: 1.2rem;
    color: #38bdf8;
    margin-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.contenedor-etiquetas{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 12px;
}
.etiqueta{
    background: #1e293b;
    padding: 8px 16px;
    border-radius: 50px;
    border: 1px solid #38bdf8;
    font-size: 0.9rem;
    transition: 0.3s;
}
.proyectos-slider{
    display: flex;
    overflow-x: auto;
    gap: 15px;
    padding-bottom: 10px;
    scroll-snap-type: x mandatory;
}
.proyectos-slider::-webkit-scrollbar {display: none;}

.tarjeta-proyecto{
    flex: 0 0 160px;
    background: #1e293b;
    border-radius: 15px;
    padding: 10px;
    scroll-snap-align: start;
}
.tarjeta-proyecto img{
    width: 100%;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
    margin-bottom: 10px;
}
.tarjeta-proyecto p{
    font-size: 0.85rem;
    color: #f8fafc;
    font-weight: 500;
    text-align: center;
    margin-top: 5px;
    white-space: nowrap;    /*Evita que el texto salte a dos lineas si es muy largo */
    overflow: hidden;   /* Si el nombre es muy largo lo oculata */
    text-overflow: ellipsis;    /* ... y le pone tres puntitos ... */
}
 
/* Estilos FORM */
.formulario input, .formulario textarea{
    width: 100%;
    background: #1e293b;
    border: 1px solid #334155;
    padding: 15px;
    border-radius: 10px;
    color: #fff;
    margin-bottom: 15px;
    font-size: 1rem;
}
.btn-enviar{
    width: 100%;
    background: #38bdf8;
    border: none;
    padding: 15px;
    border-radius: 10px;
    font-weight: bold;
    color: #0f172a;
    cursor: pointer;
    font-size: 1rem;color: #fff;
}


/* Estilos FOOTER */
.pie-pagina{
    background: rgba(15, 23, 42, 0.9);
    text-align: center;
    padding: 30px 20px;
    margin-top: 20px;
    border-top: 1px solid rgba(255,255,255,0.05);
}
.pie-pagina p{
    font-size: 0.8rem;
    color: #64748b;
    margin-bottom: 5px;
}
.pie-pagina .version{
    font-size: 0.7rem;
    color: #38bdf8;
    letter-spacing: 1px;
    font-weight: bold;
    text-transform: uppercase;
}
.redes-sociales{
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.redes-sociales span{
    font-size: 0.75rem;
    font-weight: 700;
    text-transform: uppercase;    
    letter-spacing: 1.5px;
    background: linear-gradient(90deg, #77d6ff, #5b6bff);
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent;
    background-clip: text;
    display: inline-block;
    padding: 5px 12px;
    border-radius: 8px;
    background-color: rgba(56,189,248,0.05);
    border: 1px solid rgba(56,189,248,0.1);
    animation: float 3s ease-in-out infinite;
}

@keyframes float{
    0% {
        transform: translateY(0px); /*Posicion inicial */
    }
    50% {
        transform: translateY(-8px);    /*Sube 8 pixeles */
    }
    100%{
        transform: translateY(0px);     /* Regresa al origen */
    }
}
